doctype 
html 
    head 
    title Task Manager 
    meta(charset="UTF-8")
    meta(name="viewport" content="width-device-width", initial-scale=1.0)
    link(rel="stylesheet" href="/styles.css")
    body 
    h1 Task Manager 
    //Task Form
    form(action="/api/tasks" method="POST")
    input(type="text" name="title" placeholder="Task Title" required)
    text(name="description" placeholder="Task Description")
    button(type="submit") Add Task 

    hr

    //Task List
    if tasks.length 
    ul 
    each task in tasks
    li 
    span = task.title 
    if task.description 
    p=task.description 
    form(action=`/api/tasks/update/${task.id}` method="POST" style="display: inline")
    input(type="hidden" name="completed" value=!task.completed)
    button(type="submit")=task.complete?"Marked as Incomplete": "Mark as Complete" 
    form(action=`/api/tasks/delete/${task.id}`method="POST" style="display: inline")
    button(type="submit" onclick="return confirm message('Are you Sure')")delete

    else 
    p No tasks Available 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")